{% extends "main.html" %}

{% block title %}
    Paramètre Warehouses
{% endblock %}

{% block content %}
<div class="row mb-3">
    <form method="GET" class="w-100">
        <div class="row justify-content-between align-items-center mb-3">
            <div class="col-12">
                <p class="page-title">Paramètre Warehouses <i class="fas fa-gear" style='font-size: 24px'></i></p>
            </div>
        </div>

        <div class="row justify-content-between align-items-center mb-3">
            <div class="col-6">
                {{ filteredData.form.search }}
            </div>
            <div class="col-6 d-flex justify-content-end">
                <input type="number" name="page_size" value="{{ request.GET.page_size|default:12 }}" class="form-control" style="width: 15%; margin-right: 10px;">
                <button type="submit" class="btn btn-primary" style="background-color: #1d71b8;">Appliquer</button>
                <a href="{% url 'create_warehouse' %}" class="btn btn-primary ml-2" style="background-color: #1d71b8;">Nouveau</a>
            </div>
        </div>
    </form>

    <div class="table-responsive" style="background-color: #f8f8f8; padding: 15px; border-radius: 8px;">
        <table class="table table-borderless">
            <thead>
                <tr style="color: #5d5d5d; border-bottom: 2px solid #ccc;">
                    <th class="table-header">#</th>
                    <th class="table-header">Désignation</th>
                    <th class="table-header">Site</th>
                    <th class="table-header" style="text-align: center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if page %}
                    {% for warehouse in page %}
                    <tr style="color: #5d5d5d; border-top: 1px #cccccc solid">
                        <td class="table-text">{{ warehouse.id }}</td>
                        <td class="table-text">{{ warehouse.designation }}</td>
                        <td class="table-text">{{ warehouse.site }}</td>
                        <td class="text-center p-0 m-0">
                            <a href="javascript:void(0);" onclick="window.location=constructUrl('{% url 'edit_warehouse' warehouse.id %}')" class="btn" style="color: #5d5d5d;">
                                <i class="far fa-pen-to-square"></i>
                            </a>
                            <a href="javascript:void(0);" onclick="confirmWarehouseDel('{{ warehouse.id }}', '{{ warehouse.designation }}')"
                                class="btn" style="color: #5d5d5d;">
                                <i class="far fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center" style="color: #5d5d5d;">Aucun enregistrement trouvé</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% if page.has_other_pages %}
        {% include 'pagination.html' %}
    {% endif %}
</div>

<script>
    function confirmWarehouseDel(warehouseId, warehouseName) {
        swal({
            title: `Confirmation de la suppression.`,
            text: `Etes-vous sûr que vous voulez supprimer ${warehouseName}?`,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Oui",
            cancelButtonText: "Non",
            closeOnConfirm: true,
            closeOnCancel: true
        }, function (isConfirm) {
            if (isConfirm) {
                window.location.href = "{% url 'delete_warehouse' 123456789 %}".replace(/123456789/, warehouseId);
            }
        });
    }
</script>
{% endblock %}
