{% extends "main.html" %}

{% block title %}
Paramètre Utilisateurs
{% endblock %}

{% block content %}
<div class="row mb-3">
    <form method="GET" class="w-100">
        <div class="row justify-content-between align-items-center mb-3">
            <div class="col-12">
                <p class="page-title">Paramètre Utilisateurs <i class="fas fa-gear" style='font-size: 24px'></i></p>
            </div>
        </div>
        <div class="row justify-content-between align-items-center mb-3">
            <div class="col-6">
                {{ filteredData.form.search }}
            </div>
            <div class="col-6 d-flex justify-content-end">
                <input type="number" name="page_size" value="{{ request.GET.page_size|default:12 }}" class="form-control" style="width: 15%; margin-right: 10px;">
                <button type="submit" class="btn btn-primary" style="background-color: #1d71b8;">Appliquer</button>
            </div>
        </div>
    </form>

    <div class="table-responsive" style="background-color: #f8f8f8; padding: 15px; border-radius: 8px;">
        <table class="table table-borderless">
            <thead>
                <tr style="color: #5d5d5d; border-bottom: 2px solid #ccc;">
                    <th class="table-header">#</th>
                    <th class="table-header">Nom complet</th>
                    <th class="table-header">Email</th>
                    <th class="table-header">Site</th>
                    <th class="table-header">Lignes</th>
                    <th class="table-header">Rôle</th>
                    <th class="table-header" style="text-align: center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if page %}
                    {% for user in page %}
                    <tr style="color: #5d5d5d; border-top: 1px #cccccc solid">
                        <td class="table-text">{{ user.id }}</td>
                        <td class="table-text">{{ user.fullname }}</td>
                        <td class="table-text">{{ user.email }}</td>
                        <td class="table-text">{{ user.default_site }}</td>
                        <td class="d-none d-md-table-cell">
                            {% for line in user.lines.all %}
                                <span class="badge listBadge">
                                    <p class="p-0 m-0 listBadgeText">{{ line.designation }}</p>
                                </span>
                            {% empty %}
                                <span class="badge" style="color: #bcc2cf;">Pas de lignes associées.</span>
                            {% endfor %}
                        </td>
                        <td class="table-text">{{ user.role }}</td>
                        <td class="text-center p-0 m-0">
                            <a href="javascript:void(0);" onclick="window.location=constructUrl('{% url 'edit_user' user.id %}')" 
                                class="btn" style="color: #5d5d5d;">
                                <i class="far fa-pen-to-square"></i>
                            </a>
                            <a href="javascript:void(0);" onclick="confirmUserDel('{{ user.id }}', '{{ user.fullname }}')"
                                class="btn" style="color: #5d5d5d;">
                                <i class="far fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center" style="color: #5d5d5d;">Aucun enregistrement trouvé</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    {% if page.has_other_pages %}
        {% include 'pagination.html' %}
    {% endif %}
</div>

<script>
    function confirmUserDel(userId, userName) {
        swal({
            title: "Confirmation de la suppression.",
            text: `Etes-vous sûr que vous voulez supprimer ${userName}?`,
            icon: "warning",
            buttons: true,
            dangerMode: true,
            confirmButtonText: "Oui",
            cancelButtonText: "Non",
        })
        .then((willConfirm) => {
            if (willConfirm) {
                window.location.href = "{% url 'delete_user' 0 %}".replace('0', userId);
            }
        });
    }
</script>
{% endblock %}
