{% extends "main.html" %}
{% load static %}

{% block title %}
{% if site %} Modification du site {{ site.designation }} {% else %} Création d'un site {% endif %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-left mb-3">
    <a href="javascript:void(0);" 
        onclick="window.location=constructUrl('{% url 'sites' %}')" 
        class="text-decoration-none d-flex align-items-center" 
        style="letter-spacing: 1.2px;">
        <button class="btn btn-outshift-dark me-2" 
                style="border-color: #c2c2c2; background-color: #fff; border-radius: 5px; padding: 0 5px;">
            <i class="fas fa-arrow-left" style="color: #108ad0;"></i>
        </button>
        <p class="lead m-0 p-0" style="color: #133356;">Paramètre</p>
    </a>
</div>

<div class="row mb-3">
    <div class="col-12">
        <h4 class="mb-4 page-title" style="color: #0082cd;">{% if site %} Modification du site {% else %} Création d'un site {% endif %}</h4>
    </div>

    <div class="col-6">
        <p style="font-size: 18px; color: #133356;">{% if site %} Modification du site {{ site.designation }} {% else %} Créez un nouveau site {% endif %}</p>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <button type="submit" form="site-form" class="btn btn-primary" style="background-color: #1d71b8;">
            {% if site %} Sauvgarder {% else %} Nouveau {% endif %}
        </button>
    </div>
</div>

<form method="POST" id="site-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="table-responsive" style="background-color: #f8f8f8; padding: 15px; border-radius: 8px;">
        <div class="d-flex flex-column align-items-center image-container"> 
            <img id="imagePreview" src="{% if site and site.image %}{{ site.image.url }}{% else %}{% static 'img/empty_site.png' %}{% endif %}" 
                alt="Image Preview" style="width: 300px; height: 300px; margin-bottom: 15px; border-radius: 5px; object-fit: cover; cursor: pointer;"/>
            {{ form.image }}
        </div>
        {% if form.image.errors %}
            <small class="text-danger">{{ form.image.errors }}</small>
        {% endif %}
        <div class="row mb-4">
            <div class="col-lg-12 col-md-12 mb-2">
                <label for="designation" class="form-label" style="color: #5d5d5d;">Désignation</label>
                {{ form.designation }}
                {% if form.designation.errors %}
                    <small class="text-danger">{{ form.designation.errors }}</small>
                {% endif %}
            </div>

            <div class="col-lg-4 col-md-12 mb-2">
                <label for="address" class="form-label" style="color: #5d5d5d;">Adresse</label>
                {{ form.address }}
                {% if form.address.errors %}
                    <small class="text-danger">{{ form.address.errors }}</small>
                {% endif %}
            </div>

            <div class="col-lg-4 col-md-12 mb-2">
                <label for="email" class="form-label" style="color: #5d5d5d;">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <small class="text-danger">{{ form.email.errors }}</small>
                {% endif %}
            </div>

            <div class="col-lg-4 col-md-12 mb-2">
                <label for="email" class="form-label" style="color: #5d5d5d;">Vérifier Rapports Brouillon</label></br>
                {{ form.check_for_drafts }}
                {% if form.check_for_drafts.errors %}
                    <small class="text-danger">{{ form.check_for_drafts.errors }}</small>
                {% endif %}
            </div>

            <div class="col-lg-4 col-md-12 mb-2">
                <label for="prefix_bl" class="form-label" style="color: #5d5d5d;">Préfixe BL</label>
                {{ form.prefix_bl }}
                {% if form.prefix_bl.errors %}
                    <small class="text-danger">{{ form.prefix_bl.errors }}</small>
                {% endif %}
            </div>

            <div class="col-lg-4 col-md-12 mb-2">
                <label for="prefix_bl_a" class="form-label" style="color: #5d5d5d;">Préfixe BL Annex</label>
                {{ form.prefix_bl_a }}
                {% if form.prefix_bl_a.errors %}
                    <small class="text-danger">{{ form.prefix_bl_a.errors }}</small>
                {% endif %}
            </div>

            <div class="col-lg-4 col-md-12 mb-2">
                <label for="prefix_btr" class="form-label" style="color: #5d5d5d;">Préfixe BTR</label>
                {{ form.prefix_btr }}
                {% if form.prefix_btr.errors %}
                    <small class="text-danger">{{ form.prefix_btr.errors }}</small>
                {% endif %}
            </div>
        </div>
    </div>
</form>

<script>
    const imagePreview = document.getElementById("imagePreview");
    const imageInput = document.getElementById("id_image");

    imagePreview.addEventListener("click", () => {
        imageInput.click();
    });

    imageInput.onchange = function (e) {
        const [file] = e.target.files;

        if (file) {
            imagePreview.src = URL.createObjectURL(file);
        } else {
            imagePreview.src = "{% if site and site.image %}{{ site.image.url }}{% else %}{% static 'img/empty_site.png' %}{% endif %}";
        }
    };
    
    document.addEventListener('DOMContentLoaded', (event) => {
        const imageDivs = document.querySelectorAll('.image-container');
        imageDivs.forEach(div => {
          const children = Array.from(div.childNodes);
          children.forEach(child => {
            if (child.nodeType === Node.TEXT_NODE && child.textContent.trim() !== "") {
              child.remove(); 
            }
          });
        });
    });
</script>

{% endblock %}

{% block styles %}
<style>
    .image-container img:hover {
        filter: brightness(0.8); 
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s, filter 0.2s; 
    }

    .image-container > a,
    .image-container > br { 
        display: none; 
    }
    .page-title {
        font-family: 'Open Sans', sans-serif;
        font-size: 30px;
        font-weight: 400;
        color: #0082cd;
    }
    form .form-label {
        font-weight: 600;
        font-size: 16px;
    }
    .btn-outline-dark {
        border-width: 2px;
    }
</style>
{% endblock %}
