{% extends "main.html" %}

{% block title %}
    {% if emplacement %} Modification de l'emplacement {% else %} Création d'un emplacement {% endif %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-left mb-3">
    <a href="javascript:void(0);" onclick="window.location=constructUrl('{% url 'emplacements' %}')" 
        class="text-decoration-none d-flex align-items-center" 
        style="letter-spacing: 1.2px;">
        <button class="btn btn-outshift-dark me-2" style="border-color: #c2c2c2; background-color: #fff; border-radius: 5px; padding: 0 5px;">
            <i class="fas fa-arrow-left" style="color: #108ad0;"></i>
        </button>
        <p class="lead m-0 p-0" style="color: #133356;">Paramètre</p>
    </a>
</div>

<div class="row mb-3">
    <div class="col-12">
        <h4 class="mb-4 page-title" style="color: #0082cd;">{% if emplacement %} Modification de l'emplacement {% else %} Création d'un emplacement {% endif %}</h4>
    </div>

    <div class="col-6">
        <p style="font-size: 18px; color: #133356;">{% if emplacement %} Modification de l'emplacement {{ emplacement.designation }} {% else %} Créez un emplacement {% endif %}</p>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <button type="submit" form="emplacement-form" class="btn btn-primary" style="background-color: #1d71b8;">
            {% if emplacement %} Sauvegarder {% else %} Nouveau {% endif %}
        </button>
    </div>
</div>

<form method="POST" id="emplacement-form">
    {% csrf_token %}
    <div class="table-responsive" style="background-color: #f8f8f8; padding: 15px; border-radius: 8px;">
        <div class="row mb-4">
            <div class="col-lg-6 col-md-12 mb-2">
                <label for="designation" class="form-label" style="color: #5d5d5d;">Désignation</label>
                {{ form.designation }}
                {% if form.designation.errors %}
                    <small class="text-danger">{{ form.designation.errors }}</small>
                {% endif %}
            </div>

            <div class="col-lg-6 col-md-12 mb-2">
                <label for="warehouse" class="form-label" style="color: #5d5d5d;">Magasin</label>
                {{ form.warehouse }}
                {% if form.warehouse.errors %}
                    <small class="text-danger">{{ form.warehouse.errors }}</small>
                {% endif %}
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-outline">
                    <label class="form-label" for="type" style="color: #5d5d5d;">Type d'emplacement</label>
                    {{ form.type }}
                    {% if form.type.errors %}
                        <small class="text-danger">{{ form.type.errors }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-outline">
                    <label class="form-label" for="capacity" style="color: #5d5d5d;">Capacité (palettes)</label>
                    {{ form.capacity }}
                    {% if form.capacity.errors %}
                        <small class="text-danger">{{ form.capacity.errors }}</small>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-outline">
                    <label class="form-label" for="quarantine" style="color: #5d5d5d;">Est Quarantaine?</label>
                    </br>
                    {{ form.quarantine }}
                    {% if form.quarantine.errors %}
                        <small class="text-danger">{{ form.quarantine.errors }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-outline">
                    <label class="form-label" for="temp" style="color: #5d5d5d;">Est Temporaire?</label>
                    </br>
                    {{ form.temp }}
                    {% if form.temp.errors %}
                        <small class="text-danger">{{ form.temp.errors }}</small>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>

{% if emplacement and emplacement.disponibilities.all %}
    <div class="table-responsive mt-3" style="background-color: #f8f8f8; padding: 15px; border-radius: 8px;">
        <div class="row mb-3">
            <div class="col-12">
                <h4 class="mb-4 page-title" style="color: #0082cd;">Disponibilités</h4>
            </div>
        </div>
        <table class="table table-borderless">
            <thead>
                <tr style="color: #5d5d5d; border-bottom: 2px solid #ccc;">
                    <th class="table-header">N° Lot</th>
                    <th class="table-header">Produit</th>
                    <th class="table-header">Quantité</th>
                    <th class="table-header">Produit le</th>
                    <th class="table-header">Expire le</th>
                </tr>
            </thead>
            <tbody>
                {% for disponibility in emplacement.disponibilities.all %}
                    <tr style="color: #5d5d5d; border-top: 1px #cccccc solid">
                        <td class="table-text">{{ disponibility.n_lot }}</td>
                        <td class="table-text">{{ disponibility.product }}</td>
                        <td class="table-text">{{ disponibility.qte }} {{ disponibility.product.packing.unit|default:'Kg' }}</td>
                        <td class="table-text">{{ disponibility.production_date|date:'d M Y'|default:'/' }}</td>
                        <td class="table-text">{{ disponibility.expiry_date|date:'d M Y' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}
